# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Build artifacts
build/
dist/
*.dmg

# App settings and caches (user-specific)
settings.json
*.log

# Secrets
.secret_key

/venv
/venv39
/venv39_arm64
/venv39_x86
/venv_universal
.env
.DS_Store
settings.json
*.json
.eggs